{% set link = post.get_field('external_link')['url'] %}
{% set target = post.get_field('external_link')['target'] %}
{% set is_external = true %}

{% if post.get_field('internal') %}
    {% set link = post.link %}
    {% set target = post.target %}
    {% set is_external = false %}
{% endif %}

<div class="Card -article post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <header class="Card-header">
        <div class="Card-picture">
            <a href="{{ post.link }}" target="{{ target }}">
                {% if post.thumbnail %}
                    {{ gk_image(post.thumbnail.src, post.title, '', true, "640px") }}
                {% else %}
                    {{ gk_image(assets ~ 'images/no-picture.jpg', post.title, '', true, "640px") }}
                {% endif %}
            </a>
        </div>
    </header>

    <div class="Card-content">
        {% include 'blog/meta.twig' %}

        {% if title_tag is not empty and title_tag == 'h3' %}
            <h3 class="Card-title"><a href="{{ post.link }}" target="{{ target }}">{{ post.title }}</a></h3>
        {% else %}
            <h3 class="Card-title"><a href="{{ post.link }}" target="{{ target }}">{{ post.title }}</a></h3>
        {% endif %}
        {# {{ post.preview.length(20).read_more(false) }} #}

        <div class="Card-desc">
            {{ post.content | striptags | slice(0, 75) }} [...]
        </div>
        {# <a href="{{ link }}" target="{{ target }}" class="button underline black">{{ __('Lire la suite', 'gosselink') }}</a> #}
    </div>
</div>
