<div class="TopIntro">
    <div class="TopIntro-picture">
        <div class="TopIntro-wrapper">
            {% if post.get_thumbnail %}
                <img src="{{ post.thumbnail.src }}" alt="">
            {% endif %}
        </div>

        <div class="TopIntro-inner">
            <div class="TopIntro-breadcrumbs">
                {{ function('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
            </div>

            {% if post.post_type != 'product' %}
                {% if title %}
                    <h1 class="TopIntro-title">
                        {{ title }}
                    </h1>
                {% elseif post.post_title %}
                    <h1 class="TopIntro-title">
                        {{ post.post_title }}
                    </h1>
                {% endif %}
            {% endif %}

            <div class="TopIntro-meta">
                {% include 'blog/meta.twig' %}
            </div>

            {% if post.post_excerpt %}
                <div class="TopIntro-excerpt">
                    {{ post.post_excerpt }}
                </div>
            {% endif %}
        </div>
    </div>
</div>