
<div class="bottom-content">
    {% set block = options.first_bottom_block %}
    <div class="block-more first-block" style="background-color: {{ block.color }}">
        {% if block.title %}
            <h3>
                {{ block.title }}
            </h3>
        {% endif %}
        {% if block.description %}
            <div class="desc">
                {{ block.description|wpautop }}
            </div>
        {% endif %}
        {% if block.link %}
            <a href="{{ block.link.url }}" target="{{ block.link.target }}" class="button underline white">
                {{ block.link.title }}
            </a>
        {% endif %}
    </div>
</div>