<li class="{{ item.classes | join(' ') | replace({'open-popup': ''}) }}">
    {% set menu_link = item.link %}
    {% if options.is_one_page and item.master_object.post_type == 'page' and is_home  %}
        {% if item.master_object.ID == post.ID %}
            {% set menu_link = "#" ~ top_anchor %}
        {% elseif sections[item.master_object.post_name] %}
            {% set menu_link = "#" ~ sections[item.master_object.post_name].id %}
        {% endif %}
    {% endif %}

    {% if 'open-popup' in item.classes %}
            <a class="open-popup" target="{{ item.target }}" data-post-id="{{ item.master_object.ID }}">{{ item.title }}</a>
    {% else %}
            <a target="{{ item.target }}" href="{{ menu_link }}" {% if item.get_children %}aria-haspopup="true"{% endif %}>{{ item.title }}</a>
    {% endif %}

    {% if item.get_children %}
        {% include "partials/menu.twig" with {'menu': item.get_children, 'submenu': true} %}
    {% endif %}
</li>